force-app/main/default/flows/Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignMonthlyRevenue</name>
        <label>assignMonthlyRevenue</label>
        <locationX>426</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Monthly_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monthly_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpp</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpp</label>
        <locationX>592</locationX>
        <locationY>149</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assignMonthlyRevenue</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
