.idea/src/flows/funnelTargetTrigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>addAmountToFunnel</name>
        <label>addAmountToFunnel</label>
        <locationX>418</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>fat.PeriodFunnel__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateFunnel.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsNewProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNewProductFunnel_0</name>
        <label>addNewProductFunnel</label>
        <locationX>264</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>fat.New_Product_Funnel__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateFunnel.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateFunnel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAT</name>
        <label>assignFAT</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>fat.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fat.PeriodStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PeriodStart__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fat.PeriodEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PeriodEnd__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fat.PeriodFunnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fat.Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Seller__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fat.New_Product_Funnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSeller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetValue</name>
        <label>assignTargetValue</label>
        <locationX>176</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>fat.FunnelAdditionTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>targetFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateFat</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>c_seller</name>
        <label>c_seller</label>
        <locationX>396</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>updateFunnel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSellers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateFunnel.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getSeller.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addNewProductFunnel_0</targetReference>
            </connector>
            <label>isSellers</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInPeriod</name>
        <label>IsInPeriod</label>
        <locationX>550</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>IsNewProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InPeriod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateFunnel.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fat.PeriodStart__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateFunnel.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fat.PeriodEnd__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateFunnel.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getSeller.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAmountToFunnel</targetReference>
            </connector>
            <label>InPeriod</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewProduct</name>
        <label>IsNewProduct</label>
        <locationX>550</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>updateFunnel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOptiCal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>updateFunnel.Chemical_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sulfelox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateFunnel.Chemical_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptiCal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateFunnel.Chemical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sulfelox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateFunnel.Chemical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptiCal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c_seller</targetReference>
            </connector>
            <label>isOptiCal</label>
        </rules>
    </decisions>
    <formulas>
        <name>targetFormula</name>
        <dataType>Number</dataType>
        <expression>{!getQuotaSettings.Static_Funnel_Addition_Target__c}/12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>funnelTargetTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>funnelTargetTrigger</label>
    <loops>
        <name>updateFunnel</name>
        <label>updateFunnel</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <collectionReference>getSellerOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsInPeriod</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignTargetValue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getQuotaSettings</name>
        <label>getQuotaSettings</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateFunnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSeller.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>quotaGageSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSeller</name>
        <label>getSeller</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSellerOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fat.Seller__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSellerOpps</name>
        <label>getSellerOpps</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuotaSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fat.PeriodStart__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fat.PeriodEnd__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateFat</name>
        <label>updateFat</label>
        <locationX>176</locationX>
        <locationY>2015</locationY>
        <inputReference>fat</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignFAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FunnelAdditionTarget__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>fat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FunnelAdditionTarget__c</objectType>
    </variables>
</Flow>
